@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
}
.vebinar {
  font-family: 'Inter', sans-serif;
  background-color: #171836;
  padding-bottom: 160px;
}
.vebinar-title {
  font-weight: 600;
  font-size: 36px;
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 20px;
  text-align: center;
}
.vebinar-text {
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  color: rgba(255, 255, 255, 0.4);
  margin-bottom: 104px;
}
.vebinar-info {
  position: relative;
  display: flex;
  align-items: center;
}
.vebinar-imgleft {
  position: absolute;
  left: 0;
}
.vebinar-video {
  width: 622px;
  height: 424px;
  margin-left: 50%;
  transform: translate(-50%);
  z-index: 5;
  border: 3.90968px solid rgba(34, 32, 131, 0.13);
  border-radius: 23px !important;
}
.vebinar-imgright {
  position: absolute;
  right: 0;
}


















