
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
}
.header {
  display: flex;
  align-items: center;
  padding: 30px 0;
  font-family: 'Inter', sans-serif;
}
.hero-content {
  background-color: #171836;
}
.logo {
  margin-right: 150px;
}
.header__navlink {
  color: #A2A3AF;
  text-decoration: none;
  font-size: 14px;
}
.header__navlink:hover{
  color: #fff;
}
.header__select {
  border: none;
  background-color: #171836;
  color: #fff;
  margin-right: 20px;
}
.header-navigations {
  width: 350px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 450px;
}
.header-btn {
  border: none;
  padding: 12px 32px;
  background-color: #F5443B;
  border-radius: 6px;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease;
}
.header-btn:hover{
  background-color: #a41e17;
}

/* hero part */

.hero__studentimg {
  position: relative;
  right: 70px;
  width: 710px;
  height: 750px;
  object-fit: cover;
}
.hero {
  font-family: 'Inter', sans-serif;
  display: flex;
  align-items: center;
  position: relative;
}
.hero__bookimg {
  position: absolute;
  left: 460px;
  top: 20px;
  width: 76px;
  height: 78px;
  padding: 10px 1px;
  border: 1px solid #262A54;
  background: linear-gradient(180deg, rgba(76, 94, 157, 0.9) -32.08%, rgba(23, 24, 54, 0.9) 127.36%);
  border-radius: 20px;
  transform: rotate(12.79deg);
}
.hero__lampimg {
  position: absolute;
  left: 20px;
  top: 130px;
  width: 76px;
  height: 78px;
  padding: 10px;
  border: 1px solid #262A54;
  background: linear-gradient(180deg, rgba(76, 94, 157, 0.9) -32.08%, rgba(23, 24, 54, 0.9) 127.36%);
  border-radius: 20px;
  transform: rotate(-8.82deg);
  object-fit: cover;
}
.hero__title {
  width: 484px;
  height: 219px;
  font-weight: 600;
  font-size: 56px;
  margin-bottom: 24px;
  color: #fff;
}
.hero__text {
  font-weight: 400;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.4);
  margin-bottom: 56px;
}
.hero__form {
  width: 500px;
  padding: 20px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #1F2143;
  border-radius: 12px;
  margin-bottom: 48px;
}
.hero__search {
  background-color: transparent;
  text-decoration: none;
  border: none;
  outline: none;
  color: rgba(255, 255, 255, 0.4);
  font-weight: 400;
  font-size: 16px;
}
.hero__sugges {
  font-size: 18px;
  color: rgba(255, 255, 255, 0.4);
  margin-bottom: 34px;
  display: inline-block;
}
.hero__list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
.hero__item-btn {
  padding: 10px 18px;
  border: 1px solid #66678F;
  background-color:transparent;
  color:#66678F;
  border-radius: 8px;
  margin-right: 18px;
  margin-bottom: 18px;
  cursor: pointer;
}
.hero__item-btn:hover {
  border: 1px solid #fff;
  color: #fff;
}
.hero__join-student {
  position: relative;
  left: 220px;
  bottom: 120px;
  display: flex;
  align-items: center;
  width: 363px;
  padding: 20px;
  background: linear-gradient(180deg, rgba(76, 94, 157, 0.8) -32.08%, rgba(23, 24, 54, 0.8) 127.36%);
  border-radius: 20px;
}
.hero__students-imgs2 {
  position: absolute;
  left: 55px;
}
.hero__students-imgs3 {
  position: absolute;
  left: 85px;
}
.hero__students-imgs4 {
  position: absolute;
  left: 115px;
}
.hero__joinbtn {
  position: absolute;
  left: 145px;
  border: none;
  padding: 4px 14px;
  font-size: 36px;
  border-radius: 50%;
  background-color: #8087B8;
  color: #4C4F77;
  border: 2px solid #171836;
  cursor: pointer;
}
.hero__join-text {
  margin-left: 150px;
  font-weight: 500;
  font-size: 14px;
  color: #BBBBC4;
}
.hero__join-text-actic {
  color: #FB5048;
}




































